<%= form_for(@recipe) do |f|%>
  <%= f.label :name%>
  <%= f.text_field :name%>

  <br>
  <br>
  <%= f.label :instructions%>
  <%= f.text_area :instructions%>

  <br>
  <br>

  <%= f.label :category_id, "Category"%>
  <%= f.collection_select :category_id, Category.all, :id, :name, prompt: true%>

  <br>
  <br>

  <!-- NESTED FORM  -->

  <p> Or Create a New Category:</p>
    <%= f.fields_for :category do |cat_fields|%>
        <%= cat_fields.label :name%>
        <%= cat_fields.text_field :name%>
    <% end %>



  <br>
  <br>


  <%= f.label :ingredient_ids, "Ingredients"%>
  <%= f.collection_check_boxes(:ingredient_ids, Ingredient.all, :id, :name)%>

  <br>
  <br>

    <!-- NESTED FORM  -->
    <p> Or Add New Ingredients:</p>

     <%= f.fields_for :ingredients do |ing_fields|%>
        <%= ing_fields.label :name, "Ingredient:"%>
        <%= ing_fields.text_field :name%>
        <br>


     <% end %>

  <br>
  <br>

  <%= f.submit %>

<% end %>
