<%= form_for(@recipe) do |f|%>
  <%= f.label :name%>
  <%= f.text_field :name%>

  <br>
  <br>
  <%= f.label :instructions%>
  <%= f.text_area :instructions%>

  <br>
  <br>

  <%= f.label :category_id, "Category"%>
  <%= f.collection_select :category_id, Category.all, :id, :name, prompt: true%>

  <br>
  <br>

  <!-- NESTED FORM  -->

  <p> Or Create a New Category:</p>
    <%= f.fields_for :category do |cat_fields|%>
        <%= cat_fields.label :name%>
        <%= cat_fields.text_field :name%>
    <% end %>

  <br>
  <br>

 <!-- SINGLE NESTED FORM -->
  <p> Choose From One of the Following Ingredients:</p>
  <% Ingredient.all.each do |i|%>

    <%= f.fields_for :measurements, @recipe.measurements.build do |m|%>

    <%= m.label :ingredient_id, i.name.capitalize%>
    <%= m.check_box(:ingredient_id, {},i.id, 0)%>

    <%= m.label :quantity, "Amount:"%>
    <%= m.number_field(:quantity, min:0)%>

    <%= m.select(:unit, ["tbsp", "tsp", "cup", "kg", "dash", "quart", "ounce", "unit(s)"]) %>
    <br> </br>
    <% end %>
  <% end %>

  <br>
  <br>

    <!-- DOUBLE NESTED FORM  -->
    <p> Or Add New Ingredients:</p>

     <%= f.fields_for :measurements, @recipe.measurements.build do |m|%>

        <%= m.fields_for :ingredient , @recipe.measurements[-1].build_ingredient  do |ing_fields|%>
          <%= ing_fields.label :name, "Ingredient:"%>
          <%= ing_fields.text_field :name%>


        <% end %>
        <%= m.label :quantity, "Amount:"%>
        <%= m.number_field(:quantity, min:0)%>

        <%= m.select(:unit, ["tbsp", "tsp", "cup", "kg", "dash", "quart", "ounce", "unit(s)"]) %>


       <br>
     <% end %>

  <br>
  <br>

  <%= f.submit %>

<% end %>
