<%= form_for(@recipe) do |f|%>
  <%= f.label :name%>
  <%= f.text_field :name%>

  <br>
  <br>
  <%= f.label :instructions%>
  <%= f.text_area :instructions%>

  <br>
  <br>

  <%= f.label :category_id, "Category"%>
  <%= f.collection_select :category_id, Category.all, :id, :name, prompt: true%>

  <br>
  <br>

  <!-- NESTED FORM  -->

  <p> Or Create a New Category:</p>
    <%= f.fields_for :category do |cat_fields|%>
        <%= cat_fields.label :name%>
        <%= cat_fields.text_field :name%>
    <% end %>


  <br>
  <br>




  <br>
  <br>

    <!-- DOUBLE NESTED FORM  -->
    <p> Or Add New Ingredients:</p>

   <!-- plural measurements b/c has_many-->
   <%= f.fields_for :measurements do |m|%>

       <%= m.label :ingredient_id, "Ingredients"%>
       <%= m.collection_select(:ingredient_id, Ingredient.all, :id, :name, include_blank: true)%>

      <!-- singular ingredient b/c belongs_to-->
      <%= m.fields_for :ingredient do |ing_fields|%>
        <%= ing_fields.label :name, "Ingredient:"%>
        <%= ing_fields.text_field :name%>

      <% end %>
      <%= m.label :quantity %>
      <%= m.number_field :quantity %>
      <%= m.label :unit %>
      <%= m.text_field :unit %>
      <br>
    <% end %>

  <br>
  <br>

  <%= f.submit %>

<% end %>
