<!DOCTYPE html>
<html>
  <head>
    <title>NestedDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <%= link_to 'Recipes', recipes_path %> |
      <%= link_to "Create a New Recipe", new_recipe_path %> |
      <%= link_to 'Ingredients', ingredients_path %> |
      <%= link_to "Create a New Ingredient", new_ingredient_path %> |
      <%= link_to 'Categories', categories_path %>
    </div>
    <%= yield %>
  </body>
</html>
